{% extends 'base.html' %}

{% block content %}
<div class="bg-light-blue" style="min-height: 100%; min-width: 100%;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Showpoint</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Form -->
            <form class="d-flex" method="POST" action="{{ url_for('maptest') }}">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- Dataset -->
              <li class="nav-item dropdown mx-2">
                <select class="nav-item form-select" name="dataset" aria-label="Default select example">
                    <option selected>Choose dataset</option>
                    {% for key, value in dataset_dropdown.items() %}
                    <option value="{{ key }}">{{ value }}</option>    
                    {% endfor %}
                </select>
              </li>

              <!-- Time Period -->
              <li class="nav-item dropdown mx-2">
                <select class="nav-item form-select" name="timeframe" aria-label="Default select example">
                    <option selected>Choose Time Period</option>
                    {% for key, value in timeframe_dropdown.items() %}
                    <option value="{{ key }}">{{ value }}</option>    
                    {% endfor %}
                </select>
              </li>
            </ul>
              <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
              <button class="btn btn-outline-success bx-2" type="submit">Submit</button>
            </form>
          </div>
        </div>
    </nav>

    <section class="showcase">
        
        <div class="video-container">
          <video src="static/homefilm.mp4" style="height: 500px; width: 500px;" autoplay muted loop></video>
        </div>

        <div class="container mb-2 map-container " style="z-index: 10; min-height: 100vh;">
            <!-- <div class="mb-2"> -->
            <!-- <form action="" method="post">
                <div class="d-flex align-items-center justify-content-between"> -->
                    
                    <!-- Dataset dropdown -->
                    <!-- <div class=" dropdown">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Choose dataset</option> -->
                             {#{% for key, value in dataset_dropdown.items() %}#}
                                <!-- <option value="{{ key }}">{{ value }}</option>     -->
                            {#{% endfor %}#}
                                
                        <!-- </select>
                    </div> -->
    
                    <!-- Timeframe filter -->
                    <!-- <div class=" dropdown">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option> -->
                            {#{% for key, val in timeframe_dropdown.items() %}#}
                            <!-- <option value="{{ key }}">{{ val }}</option>     -->
                            {#{% endfor %}#}
                        <!-- </select>
                    </div> -->
    
                    <!-- Crime Type -->
                    <!-- <div class="">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">Crime Type2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">Crime Type2</label>
                        </div>
                    </div> -->
    
                    <!-- Submit button -->
                    <!-- <div class="btn-group">
                        <button type="submit" class="btn btn-outline-primary">Filter</button>
                        <button class="btn btn-outline-secondary">Clear</button>
                    </div> -->
                <!-- </div>
            </form> -->
            <!-- </div> -->
            <!-- https://www.reddit.com/r/flask/comments/enn7rz/how_to_embed_a_pdf_file_using_flask/ -->
            <iframe style="width: 100%; height: 600px;" src="{{ url_for('static', filename='maps/base_map.html' ) }}" title="description"></iframe>
        </div>

        <!-- <div class="context" style="z-index: 10;">
          <h1>Spotlight</h1>
          <h3>Mapping police activity in Los Angeles</h3>
          <a href="{{ url_for('maptest')}}" class="my-btn">Check it out!</a>
          </div> -->
    
        </section>
</div>
{% endblock content %}
    